
@media screen and (max-width: 680px) {
   .navbar-items {
         display: none;
   }

   .navbar-items li {
    display: none;
   }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c524d;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: 0 20px 0 20px;
}

.navbar a {
    color: #fc732f;
    display: block;
    float: left;
    font-size: 16px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
}

.navbar-items li {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}